{% extends 'base.html' %}

{% block content %}

<div class = "row">
    <div class ="col-md-3"></div>
    <div class ="col-md-6">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p><strong><i>Join us today and
be part of one of the fast-growing Saccos, please fill the form below to become a member</i></strong></p>
            <h3>Membership form</h3>
            {{ form.as_p }}
            <button type="submit" class = "btn btn-primary">JOIN US</button>
        </form>
    </div>
    <div class ="col-md-3"></div>
</div>
{% endblock %}